<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DXThemeManager" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="con_Infocenter" connectionString="Database=Infocenter;Server=172.16.8.114;Integrated Security=false;Uid=htf;Password=htf;"
      providerName="System.Data.SqlClient" />
    <add name="con_BondFund" connectionString="Database=BondFund;Server=172.16.8.114;Integrated Security=false;Uid=htf;Password=htf;"
      providerName="System.Data.SqlClient" />
    <add name="con_AA" connectionString="Database=AA;Server=172.16.7.229;Integrated Security=false;Uid=sa;Password=sa123456;"
      providerName="System.Data.SqlClient" />
    <add name="con_Local" connectionString="Database=UserDB;Server=.;Integrated Security=false;Uid=sa;Password=HTF@99fund;"
      providerName="System.Data.SqlClient" />
    <add name="con_Login" connectionString="Database=BondFund;Server=172.16.8.114;Integrated Security=false;Uid=htf;Password=htf;"
       providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <DXThemeManager>
      <setting name="ApplicationThemeName" serializeAs="String">
        <value>
        </value>
      </setting>
    </DXThemeManager>
  </userSettings>
</configuration>